<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h4 class="down">New title</h4>
    </div>
    <div class="col-sm-3">
      <h4>
        <button class="button button2">
          <span class="app">Not approved</span>
        </button>
      </h4>
    </div>
    <div class="col-sm-5 buttons">
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-4">
      <h4 class="down">Distressed crew neck winter wear</h4>
    </div>
    <div class="col-sm-3">
      <h4>
        <button class="button button2">
          <span class="app">Not approved</span>
        </button>
      </h4>
    </div>
    <div class="col-sm-5 buttons">
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col-sm-2">
      <h6>
        <button class="button button4">
          <span class="app">Originalprice:300</span>
        </button>
      </h6>
    </div>
    <div class="col-sm-2">
      <h6>
        <button class="button button4">
          <span class="app">Totalprice:145</span>
        </button>
      </h6>
    </div>
    <div class="col-sm-2">
      <h6>
        <button class="button button4">
          <span class="app">Drycleanprice:10</span>
        </button>
      </h6>
    </div>
    <div class="col-sm-3">
      <h6>
        <button class="button button4">
          <span class="app">Lendprice per week:120</span>
        </button>
      </h6>
    </div>
    <div class="col-sm-3">
      <h6>
        <button class="button button4">
          <span class="app">Ownerprice per week:0</span>
        </button>
      </h6>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col-sm-6">
      <h4><b>Brand:</b>Puma</h4>
    </div>
    <div class="col-sm-6">
      <h4><b>Care:</b>DRY CLEAN ONLY</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h4><b>Category:</b>Top</h4>
    </div>
    <div class="col-sm-6">
      <h4><b>color:</b>black</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h4><b>Material:</b>Cotton</h4>
    </div>
    <div class="col-sm-6">
      <h4><b>Size:</b>30</h4>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-4">
      <h4 class="down">Classic puma Hoodle Black</h4>
    </div>
    <div class="col-sm-3">
      <h4>
        <button class="button button2">
          <span class="app">Not approved</span>
        </button>
      </h4>
    </div>
    <div class="col-sm-5 buttons">
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col-sm-4">
      <h4 class="down">Shirt</h4>
    </div>
    <div class="col-sm-3">
      <h4>
        <button class="button button5">
          <span class="app">Approved</span>
        </button>
      </h4>
    </div>
    <div class="col-sm-5 buttons">
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col-sm-4">
      <h4 class="down">Test product</h4>
    </div>
    <div class="col-sm-3">
      <h4>
        <button class="button button5">
          <span class="app">Approved</span>
        </button>
      </h4>
    </div>
    <div class="col-sm-5 buttons">
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <hr />
</div>
