
<aside class="sidebar">
  <div id="leftside-navigation" class="nano">
    <ul class="nano-content">
      
      <li class='sub-menu'><a>Products<i class='arrow fa fa-angle-right pull-right'></i></a>
        <ul>
          <li><a href='/product'>Create</a></li>
          <li><a href='/read'>Read</a></li>
          <li><a href='/update'> Update</a></li>
          <li><a href='/delete'>Delete</a></li>
          
        </ul>
      </li>
      <li class="sub-menu">
        <a href=""><i ></i><span>Category</span><i class="arrow fa fa-angle-right pull-right"></i></a>
      </li>

      <li class="sub-menu">
        <a href=""><i ></i><span>Brand</span><i class="arrow fa fa-angle-right pull-right"></i></a>
       
      </li>
      <li class="sub-menu ">
        <a href=""><i ></i><span>Banner</span><i class="arrow fa fa-angle-right pull-right"></i></a>
      
      </li>
      <li class="sub-menu">
        <a href=""><i></i><span>Logout</span><i class="arrow fa fa-angle-right pull-right"></i></a>

      </li>
    </ul>
  </div>
</aside>

